@{
	ViewBag.PageTitle = "Order Management";
	ViewBag.CardTitle = "View Orders";
}

<table id="OrderTable" class="table table-hover text-center" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Emails</th>
			<th>PhoneNumber</th>
			<th>OrderStatus</th>
			<th>Total</th>
			<th>Details</th>
		</tr>
	</thead>
</table>

@section Scripts {
	<script src="~/js/orders.js"></script>
}