@section style {
    <link rel="stylesheet" href="~/assets/css/about.css">
}
<section class="container about-c">
    <div class="row p-4 d-flex flex-column-reverse flex-md-row justify-content-center flex-sm-column-reverse">
        <div class="col-md-6 col-sm-12 p-1">
            <h2>
                An Aspiring software Engineer with a passion for problem-solving and clean code and I have a stronginterest in Backend development. Gained experience in Backend using
                Asp.NET
                technology,And I am aquick learner and have strong multitasking and teamwork skills.
            </h2>
            <ul class="list-group">
                <li class="list-group-item border-0"><i class="bx bx-check-circle pe-2 c"></i>Mahmoud Gabr Ibrahim Elrewiny</li>

            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="~/assets/imgs/about.jpg" alt="">
        </div>
    </div>
</section>