@model Product
@{
	ViewBag.PageTitle = "Product Management";
	ViewBag.CardTitle = "View Products";
}

<div class="mb-3">
	<a asp-action="Create" class="btn btn-primary">Create Product</a>
</div>

<table id="ProductTable" class="table table-hover text-center" width="100%">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(p=>p.Name)</th>
			<th>@Html.DisplayNameFor(p=>p.Description)</th>
			
			<th>@Html.DisplayNameFor(p=>p.Price)</th>
			<th>@Html.DisplayNameFor(p=>p.Category)</th>
			<th>Details</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
</table>

@section Scripts {
	<script src="~/js/products.js"></script>
}