/*currnet page*/
.top-nav li a {
    color: var(--sec-color) !important;
}

.top-nav li:nth-child(3) a {
    color: var(--main-color) !important;
}

.current-page {
    width: 116px;
    height: 200px;
    background-color: var(--sec-color);
    display: inline-block;
    position: absolute;
    margin-left: 109px;
    margin-top: -165px;
    border-radius: 5px;
    z-index: -1;
}

/* body ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>body*/

/*.pass-c {
    margin-top: 5%;
    min-height: 60vh;
}*/

hr {
    margin: 0;
}

.h {
    background-color: var(--main-color);
    color: var(--sec-color);
    padding: 0 0.5rem;
    margin: 0
}


.Email-sent p {
    margin: 0;
}

.login-inputs input {
    margin-bottom: 1rem;
}

.login-inputs label {
    margin-bottom: 1.2rem;
    font-size: 0.8rem
}

.inputs {
    font-size: 0.9rem
}

.b {
    padding: 0.4rem 0.8rem;
    color: var(--sec-color);
    background-color: var(--main-color);
    border: 0;
    border-radius: 5px;
}

#password {
    width: 250px
}

@media (max-width: 500px) {
    .inputs {
        font-size: 0.8rem
    }

    .login-inputs label {
        font-size: 0.7rem;
        margin-bottom: 5px;
    }

    #password {
        width: 170px;
        margin-bottom: 5px;
    }

    .b {
        padding: 0.2rem 0.4rem;
    }
}
